apache-zookeeper-3.6.1/
scripts_de_falha/
~/
__pycache__/
webservice/
config.json
*tar.gz
mynfd.conf 
*.tgz
*.log
*.pyc
*.info
*.err
*.out
*.dat
*.json
.vagrant/
node_modules/
ndn-src/
mininet/
mini-ndn/
.idea/
apache-zookeeper-3.6.1-bin/
iperfPlotter/
l.txt
f.txt
busyactor.txt
