apache-zookeeper-3.6.1/
scripts_de_falha/
~/
__pycache__/
webservice/
config.json
*tar.gz
mynfd.conf 
*.tgz
*.log
*.pyc
*.info
*.err
*.out
*.dat
.idea/vcs.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/ICNStage.iml
.idea/workspace.xml
ndn-src/ndn-cxx/
.vagrant/rgloader/loader.rb
.vagrant/machines/default/virtualbox/vagrant_cwd
.vagrant/machines/default/virtualbox/synced_folders
.vagrant/machines/default/virtualbox/private_key
.vagrant/machines/default/virtualbox/index_uuid
.vagrant/machines/default/virtualbox/id
.vagrant/machines/default/virtualbox/creator_uid
.vagrant/machines/default/virtualbox/box_meta
.vagrant/machines/default/virtualbox/action_set_name
.vagrant/machines/default/virtualbox/action_provision
