
{   "zookeeper_adapter": "nat1-eth0"

    ,
    "workers":[
        {"remote_hostname": "10.0.0.1",
            "remote_username": "vagrant",
            "remote_password": "",
            "remote_pkey_path": "/home/vagrant/mini-ndn/.vagrant/machines/default/virtualbox/private_key"
            },
            {"remote_hostname": "10.0.0.2",
            "remote_username": "vagrant",
            "remote_password": "",
            "remote_pkey_path": "/home/vagrant/mini-ndn/.vagrant/machines/default/virtualbox/private_key"
            },
            {"remote_hostname": "10.0.0.3",
            "remote_username": "vagrant",
            "remote_password": "",
            "remote_pkey_path": "/home/vagrant/mini-ndn/.vagrant/machines/default/virtualbox/private_key"
            }
        ]
}