
{
    "Server": [

        {
            "Id": "1",
            "Host": "10.0.2.15",
            "UserName": "zkserver1",
            "Password": 123456789
        },
 	{
            "Id": "2",
            "Host": "10.0.2.15",
            "UserName": "zkserver1",
            "Password": 123456789
        },
	 {
            "Id": "3",
            "Host": "10.0.2.15",
            "UserName": "zkserver1",
            "Password": 123456789
        }   

 ],
    "Settings": [
        {
            "TickTime": 0,
            "MinSessionTimeOut": 6000,
            "MaxSessionTimeOut": 1200,
            "InitLimit": 10,
            "SyncLimit": 5,
            "ClientPort": 2181,
            "MaxClientCnxns": 256
        }
    ]
}
